@*******************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one or more		   *
 * contributor license agreements.  See the NOTICE file distributed with	   *
 * this work for additional information regarding copyright ownership.         *
 * The ASF licenses this file to You under the Apache License, Version 2.0     *
 * (the "License"); you may not use this file except in compliance with        *
 * the License.  You may obtain a copy of the License at                       *
 *                                                                             *
 *    http://www.apache.org/licenses/LICENSE-2.0                               *
 *																			   *
 * Unless required by applicable law or agreed to in writing, software         *
 * distributed under the License is distributed on an "AS IS" BASIS,           *
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
 * See the License for the specific language governing permissions and         *
 * limitations under the License.											   *
 *******************************************************************************@ 

@main("Tutorial") {

<ol class="breadcrumb">
	<li class="active">Tutorial</li>
	<li><a href="/estimator">Collect Data</a></li>
	<li><a href="/estimator/1">Input Preference</a></li>
	<li><a href="/estimator/2">Workflow Summary</a></li>
	<li><a href="/estimator/3">Recommendation</a></li>
</ol>

<iframe width="550" height="315" src="https://www.youtube.com/embed/t9tgr3I2d5g" frameborder="0" allowfullscreen></iframe>
<iframe width="550" height="315" style="margin-left: 25px" src="https://www.youtube.com/embed/tftPn4YQbVE" frameborder="0" allowfullscreen></iframe>

<p>
In these videos, we will help you learn the available web services, how to use them, and help you to design your climate analytics workflows.

<!-- <ul>
<li>Run vistrails. (python VISTRAILS_PATH/vistrails/vistrails.py)</li>
<li>Import a workflow.</li>
<li>Click the menu Packages, and then Amazon Plugin. Inside that choose the 'Go to estimator'</li>
<li>Input the notification email and click Estimate. Then you can be directed to the estimator web page.</li>
</ul> -->
</p>

}