.list-group {
    margin-bottom: 10px;
}


.comment-vote .vote-thumb {
    border: none;
    display: block;
    width: 90px;
    height: 42px;
}

.comment-vote .vote-up {
    background: url("/assets/img/vote.png") 1px -4px;
}

.comment-vote .vote-down {
    background: url("/assets/img/vote.png") 1px 48px;
}

.comment-vote .voted {
    background-position-x: 88px;
}

.comment-vote .vote-num {
    width: 90px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    text-align: center;
    font-size: 1.4em;
    margin-top: 12px;
}

.comment-vote {
    margin-left:20px;
}

.like{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("/assets/img/like.png") -3px -4px;
}

p.suggestion-like{
    background:none;
    border:none;
}

.suggestion-like span{
    font-size: 1.2em;
    position: relative;
    left: 6px;
    top: -3px;
}

.suggestion-like .like-voted{
    background-position-x: 33px;
}

.list-group-item {
    word-break: break-word;
}