@(username: String, userId: Long, sessionUser: Long)

<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
<script src='@routes.Assets.at("js/header.js")'></script>

<nav class="navbar navbar-default header">
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding-bottom: 0 ;" href="/"><img src='@routes.Assets.at("images/NASA_JPL_logo.png")' style="height: 40px ; width: 220px ;"></a>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            @if(username != "undefined") {
                <li class="hide" id="userFlag">This is hidden</li>
                <li class="title_lable"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li class="title_lable"><a href="/search">Search</a></li>
                <li class="title_lable"><a href="/workflow">Workflow</a></li>
                <li class="title_lable"><a href="/timeline/0">Timeline</a></li>
                <li class="title_lable">
                    <a href="/notifications">Notification</a>
                    <div class="reddot hide"></div>
                </li>
                <li><a href="/workflow/getPublicWorkflow">Forum</a></li>
            }
            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if(username != "undefined") {
                <li class="dropdown">
                    <a href="#" id="currentuser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@username <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/group/create">Create Group</a ></li>
                        <li><a href="/group/join">Join Group</a ></li>
                        <li><a href="/profile/@sessionUser">Profile</a></li>
                        <li><a href="/logout">Logout</a ></li>
                    </ul>
                </li>
            }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
